<!--#======================================================================= -->
<!--# Copyright (c) 2012, 2014 C4biz Softwares ME, Loetz KG. -->
<!--# All rights reserved. This program and the accompanying materials -->
<!--# are made available under the terms of the Eclipse Public License v1.0 -->
<!--# which accompanies this distribution, and is available at -->
<!--# http://www.eclipse.org/legal/epl-v10.html -->
<!--# -->
<!--# Contributors: -->
<!--# Cristiano Gavião (C4biz)- initial API and implementation -->
<!--#======================================================================= -->

<settings>
	<pluginGroups>
		<pluginGroup>org.lunifera</pluginGroup>
		<pluginGroup>org.sonatype.plugins</pluginGroup>
	</pluginGroups>
	<profiles>
		<profile>
			<!-- Required for dependencies of Xtend module -->
			<id>xtend</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>xtend</id>
					<url>http://build.eclipse.org/common/xtend/maven/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>xtend</id>
					<url>http://build.eclipse.org/common/xtend/maven/</url>
				</pluginRepository>
				<pluginRepository>
					<id>fornax</id>
					<url>http://www.fornax-platform.org/m2/repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<!-- Required for dependencies of JBoss module -->
			<id>jboss</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>jboss-public-repository-group</id>
					<name>JBoss Public Repository Group</name>
					<url>http://repository.jboss.org/nexus/content/groups/public/</url>
				</repository>
			</repositories>
		</profile>
		<profile>
			<!-- Required for dependencies of Lunifera -->
			<id>lunifera-dev</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<pluginRepositories>
				<pluginRepository>
					<id>lunifera-nexus-release</id>
					<name>Lunifera Nexus Release</name>
					<url>http://maven.lunifera.org:8086/nexus/content/repositories/releases/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>lunifera thirdparty</id>
					<url>http://maven.lunifera.org:8086/nexus/content/repositories/thirdparty/
					</url>
				</pluginRepository>
				<pluginRepository>
					<id>codehaus-public-repository-group</id>
					<name>Codehaus Public Repository Group</name>
					<url>https://nexus.codehaus.org/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>atlassian</id>
					<url>http://maven.atlassian.com/public</url>
				</pluginRepository>
				<pluginRepository>
					<id>apache-nexus-snapshots</id>
					<name>Apache Nexus Snapshots</name>
					<url>https://repository.apache.org/content/repositories/snapshots
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>codehaus-public-repository-group</id>
					<name>Codehaus Public Repository Group</name>
					<url>https://nexus.codehaus.org/content/groups/public/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>jboss-public-repository-group</id>
					<name>JBoss Public Repository Group</name>
					<url>http://repository.jboss.org/nexus/content/groups/public/</url>
				</repository>
				<repository>
					<id>ecf-maven</id>
					<url>http://build.ecf-project.org/maven</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>ecf-jms</id>
					<url>http://download.ecf-project.org/repo/C-HEAD-jms.feature/lastSuccessful/archive/site.p2/
					</url>
					<layout>p2</layout>
				</repository>
				<repository>
					<id>oss.sonatype.org-snapshot</id>
					<url>http://oss.sonatype.org/content/repositories/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>atlassian</id>
					<url>http://maven.atlassian.com/public</url>
				</repository>
				<repository>
					<id>vaadin-snapshots</id>
					<url>http://oss.sonatype.org/content/repositories/vaadin-snapshots/
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>lunifera-nexus-snapshots</id>
					<name>Lunifera Nexus Snapshots</name>
					<url>http://maven.lunifera.org:8086/nexus/content/repositories/snapshots/
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>lunifera-nexus-release</id>
					<name>Lunifera Nexus Release</name>
					<url>http://maven.lunifera.org:8086/nexus/content/repositories/releases/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>ops4j-deps-snapshots</id>
					<name>OPS4j Snapshots</name>
					<url>http://oss.sonatype.org/content/repositories/ops4j-snapshots/
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jetty-8x</id>
					<url>http://download.eclipse.org/jetty/updates/jetty-bundles-8.x/8.1.15.v20140411
					</url>
					<layout>p2</layout>
				</repository>
				<repository>
					<id>apache-deps-snapshots</id>
					<name>Apache Nexus Snapshots</name>
					<url>https://repository.apache.org/content/repositories/snapshots
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
