<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Lunifera Luna Platform - MacOs" sequenceNumber="305">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140310-0546"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.0.v20140305-1523"/>
<unit id="org.eclipse.platform.sdk" version="4.4.0.I20140306-1200"/>
<unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140306-1200"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.3.100.v20140305-2153"/>
<unit id="org.eclipse.jdt.feature.group" version="3.10.0.v20140306-1200"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140305-1523"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.10.0.v20140224-1527"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.assert-utilities.feature.group" version="1.2.2.2"/>
<unit id="org.lunifera.dependencies.feature.security.shiro.feature.group" version="1.2.2"/>
<unit id="org.lunifera.dependencies.feature.logback.feature.group" version="1.0.13"/>
<repository location="http://lun.lunifera.org/downloads/p2/lunifera/luna/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20140227085123/repository/"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.launching.macosx.MacOSXType/Java SE 7 [1.7.0_21]"/>
<launcherArgs>
<vmArgs>-Xms40m -Xmx512m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
